
.now-playing-bar {
  background-color: #181818;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 101;
  height: 100px;
  margin: 0;
}

.playing {
  width: 30px;
  height: 30px;
}

.play-bar {
  display: flex;
  // flex: 1;
  justify-content: center;
  height: 100%;
}

.playing-components {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.controls {
  display: flex;
  flex: 1;
  justify-content: center
}

.player-wrapper {
  display: flex;
  flex: 1;
}

.now-playing-details{
  display: flex;
  flex: 1;
  align-items: center;
}

h3.details, h4.details {
  margin: 5px;
}
.title-and-artist {
  display: flex;
  flex-direction: column;
}
a.now-playing-name {
  height: 50px;
  width: 50px;
  background-color: black;
}

.PlaybackControls {
  align-self: center;
}

.PlayButton, .PauseButton{
  height: 20px;
  width: 20px;
}


.PrevButton, .NextButton {
  height: 15px;
  width: 15px;
}

.ProgressBar,
.VolumeSlider {
  position: relative;
  background: #eee;
  border-radius: 4px;
  width: 20px;

  &-elapsed,
  &-value {
    background: gray;
    border-radius: 4px;
  }

  &-seek {
    position: absolute;
    cursor: pointer;
  }

  &-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: green;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s;
  }

  &.isSeekable,
  &.isEnabled {
    &:hover {
      .ProgressBar-handle,
      .VolumeSlider-handle {
        transform: scale(1);
      }

      .ProgressBar-intent,
      .VolumeSlider-intent {
        position: absolute;
        background: rgba(0,0,0,0.05);
      }
    }

    .ProgressBar-elapsed,
    .VolumeSlider-value {
      background: green;
    }
  }
}
