.playlist-info {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  min-width: 375px;
}

.playlists-name {
  color: white;
}

.creators-name {
  color: #999;
}

.playlist-details {
  display: flex;
}

.playlist-song-list {
  padding: 5px;
}
