// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url(https://images.pexels.com/photos/501140/pexels-photo-501140.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "proxima_nova","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: white;
  display: block;
}

#wrapper {
  margin: 0 150px 0 150px;
}
