// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url(https://res.cloudinary.com/douzdapki/image/upload/v1500486166/pexels-photo-487434.png_rgvpot.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #121314;
  font-family: "proxima_nova","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: white;
  height: 100%;

}

.header {
  display: flex;
  align-items: center;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: bold;
  max-width: 450px;
  text-align: center;
}

.flex-grid {
  display: flex;
  margin-top: 5%;
  padding-bottom: 20%;
}

.logo {
  height: 80px;
  width: 80px;
}
.nav-link {
  display: flex;
  justify-content: center;
}

form {
  flex: 1;
  align-self: center;
  align-items: center;
}

.login {
  padding-right: 50px;
  padding-left: 10%;
  border-right: thin solid white;
  max-width: 500px;
}

//
// .info {
//   color: #07d159;
//   position: relative;
// }

.info-text {
  padding-left: 50px;
  max-width: 700px;
}

.login-form {
  max-width: 450px;
}

input[type="text"] {
  display: flex;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #FFF;
  border-radius: 0;
  height: 27px;
  line-height: 27px;
  width: 100%;
}
input[type=password] {
  display: flex;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #FFF;
  border-radius: 0;
  height: 27px;
  line-height: 27px;
  width: 100%;
}

input {
  color: white;
  font-size: 16px;
}

input[type=submit] {
  background-color: transparent;
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  font-size: 13px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

input:hover {
  transform: scale(1.035);
}

input[type=submit]:hover {
  background-color: #1ed760;
}

.nav-link:hover {
  transform: scale(1.035);
  color: #07d159;
}

.guest {
  background-color: transparent;
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  // display: block;
  font-size: 13px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: white;
}

.errors {
  list-style: none;
  background-color: #ce1a2b;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  max-width: 460px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  font-size: 60px;
  color: #07d159;
}
h2 {
  font-size: 28px;
}

.info-list {
  line-height: 30px;
}
