
.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 250px;
  padding: 20px 0;
}

a {
  margin-right: 20px;
  color: #a0a0a0;
}

.nav-items {
  align-self: center;
  display: flex;
  width: 85%;
  justify-content: center;
}

.nav-items-list {
  display: flex;
}

a:hover {
  transform: scale(1.035);
  color: white;
}

a:active {
  color: white;
  border-bottom: thick solid #2ebd59;
}
