.search-content {
  margin-left: 220px;
  margin-bottom: 100px;
}

.search-input {
  background-color: #242424;
  padding: 1.5em 2em;
}

.search-results {
  padding: 1.5em 2em;

}

.search-result {
  padding: 15px 0;
}

.playlist-results, .artist-results, .song-results {
  display: flex;
  flex-wrap: wrap;
}

h2.search {
  padding-top: 2%;
  padding-bottom: 2%;
}

.no-results-found {
  font-weight: bold;
  font-size: 40px;
}
