// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-form-index {
  margin-left: 250px;
}

#each-song {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
